
.mat-elevation-z8{
    border-top: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid black;
    background-image: url(../../assets/images/cinemahall.jpeg);
    /* margin:0px;
    height:100%;
    width:100%;
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size:cover; */
}

.flex{
    padding-top: 20px;
    padding-left: 50px;
}