mat-form-field{
    display: block;
}


mat-card-content {
    display: block;
    justify-content: center;
    padding-top: 20px;
    color: black;
}
mat-card-title{
    justify-content: center;
    text-align: center;
    color: black;
}

mat-card{
    background-color: rgb(218, 178, 197);
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}
