<mat-card>
    <mat-card-header>
        <mat-card-title>Enter The Below Details To Reset Your Password</mat-card-title>
    </mat-card-header>
    <form>
    <mat-card-content>
       
            <mat-form-field>
                <mat-label>Enter User Name:</mat-label>
                <input matInput type="text" placeholder="Enter User name" name ="username" [(ngModel)]="user.username" required>
                <mat-error>Username is Required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <div >
              <mat-card-actions align="end">
                <button mat-raised-button type="button" color="primary" (click)="reset(user.username)">Next</button>
              </mat-card-actions>
            </div>
        
    </mat-card-content>
</form>
</mat-card>





<!--<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center
        min-vh-100">
      <div class="col-12 col-md-8 col-lg-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="mb-4">
              <h5>Forgot Password?</h5>
              <p class="mb-2">Enter your registered Username to reset the password
              </p>
            </div>
            <form>
              <div class="mb-3">
                <label for="username" class="form-label">User Name</label>
                <input type="text" class="form-control" [(ngModel)]="user.username" name="username" placeholder="Enter Your User name"
                  required="">
              </div>

              <br>
              <br>
              <div>
                <select >
                  <option *ngFor="let q of qns1" [ngValue]="q.name">{{q.name}}</option>
                  <br>
                </select>
                <br>
                <br>
                <input type="text" required id="ans" class="form-control form-control-sm" placeholder="Answer" [(ngModel)]="user1.ans" name="ans" ng-required="true"/>
              </div>  
            
              <br>
              <br>
                <div *ngIf="toDisplay">
                    <button type="submit" class="btn btn-success btn-sm" (click)="reset(user.username,user1.ans)">Reset</button>
                </div>
            <div *ngIf="display">
            <div >
                <label class="form-label" for="password"> Enter New Password </label>
                <input type="password" required id="password" class="form-control form-control-sm"
                placeholder="new password" [(ngModel)]="user1.password" name="password" ng-required="true"/>
              </div>  
             <div>
                <label class="form-label" for="password">Confirm Password </label>
                <input type="password" required id="password1" class="form-control form-control-sm"
                placeholder="confirm password" [(ngModel)]="pwd" name="password" ng-required="true"/>
               </div> 
            
            <span>Not My account? <a href="login">login</a></span>
            <div>
            <button type="button" class="btn btn-success btn-sm" (click)="save()">Save</button>
            </div>
            </div>
            <span>Don't have an account? <a href="register">sign up</a></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>-->