
<!--<mat-toolbar color="primary">
    <div class="container">
        <span>User Page</span>
        <div class="menu-item">
            <a mat-button routerLink="/homeuser">Home</a>
            <a mat-button routerLink="/user">Movie List</a>
        </div>
    </div>
</mat-toolbar>-->





<mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="icon">
        <mat-icon [inline]="true">home</mat-icon>
      </div>
      <h1 style="padding-right:20px;">MOVIE BOOKING APP</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/homeuser'" style="font-size:18px;">VIEW MOVIES</a>
      </div>
      <span class="flexExpand"></span>
    <div >
        <a mat-button (click)="logout()" style="padding-left:280px;">LOGOUT</a>
    </div>
   
    </mat-toolbar-row>
</mat-toolbar>
