
<mat-card>
    <mat-card-header>
        <mat-card-title>Fill Details</mat-card-title>
    </mat-card-header>
    <form>
        <mat-card-content>
            <mat-form-field>
                <mat-label>User ID</mat-label>
                <input matInput type="text" [(ngModel)]="user.userId" name="userId" [readonly]="true"  >
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Choose a Secret Question</mat-label>
                
                <mat-select  [(ngModel)]="user.secretQuestion" name="secretQuestion" >
                    <mat-option *ngFor="let q of qns1" [value]="q.name">{{q.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field>
                <mat-label>Enter Your Answer</mat-label>
                <input matInput type="text" placeholder="Enter Answer" name="ans" [(ngModel)]="user1.ans" required>
                <mat-error style="font-size:medium;">Answer is <strong>Required</strong></mat-error>
            </mat-form-field>
            <br>
            <br>

            <div *ngIf="toDisplay">
                <mat-card-actions align="end">  
                    <button type="button" color="primary" mat-raised-button (click)="getMatch(user.userId,user1.ans)">Reset</button>
                </mat-card-actions>
            </div>


            <br>
            <br>
            <div *ngIf="display">
                <div>
                
                <mat-form-field>
                    <mat-label>Enter New Password</mat-label>
                    <input matInput type="password" [type]="hide ? 'password' : 'text'"  placeholder="Enter New password" [(ngModel)]="user1.password" name="password" ng-required="true">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                        <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </button>
                </mat-form-field>

                <br>
                <br>
                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" [type]="hide ? 'password' : 'text'"  placeholder="confirm password" [(ngModel)]="user1.confpassword" name="confpassword" ng-required="true">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                        <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                    
                </mat-form-field>
                </div>
                <br>
                <br>

                <div>
                    <ng-container matColumnDef="action">
                    <h4><span>Have An account? <a href="login">login</a></span></h4>
                    </ng-container>
                    <br>
                    <!-- <mat-card-actions align="end"> -->
                    <ng-container matColumnDef="action">
                    <button type="button" color="primary"  mat-raised-button (click)="save()">Save</button>
                    </ng-container>
                    <!-- </mat-card-actions> -->
                </div>
            </div>
        </mat-card-content>
    </form>
</mat-card>